@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;500;700&display=swap');

:root{
	/* -- Variabel Warna -- */
	--abu2 :#dddddd;
	--kuningPucat : #ffff66;
	--kuningTelor : #ffc328;
	--warnaGelap : #000411;
	--warnaCerah : #fe5d26;
	--bayangan	: 0 1px 5px rgba(104,104,104,0.8);
	/* -- Variabel Font --*/
	--fontDasar: 'Josefin Sans', sans-serif;
}

/* -- Setting Dasar --*/
html{
	box-sizing: border-box;
	color: var(--warnaGelap);
	font-family: var(--fontDasar);
}

body{
	background-color: var(--abu2);
	line-height: 1.4rem;
	margin: 30px 50px;
}

.tombol{
	background-color: var(--warnaGelap);
	color: var(--warnaCerah);
	text-decoration: none;
	padding: 0.6rem 1.3rem;
	border:0;
}

img{
	max-width: 100%;
}

.pembungkus{
	display: grid;
	grid-gap: 20px;
}
/* -- Setting Dasar --*/


/* -- Navigasi --*/
.navigasi ul{
	display: grid;
	grid-gap: 20px;
	padding: 0;
	list-style: none;
	grid-template-columns: repeat(4,1fr);
}

.navigasi a{
	display: block;
	background-color:var(--kuningTelor); 
	padding: 0.8rem;
	text-decoration: none;
	text-align: center;
	color: var(--warnaGelap);
	text-transform: uppercase;
	font-size: 1.1rem;
	box-shadow: var(--bayangan);
}

.navigasi a:hover{
	background-color: var(--warnaGelap);
	color: var(--kuningTelor);
}
/* -- Navigasi --*/


/* -- Konten --*/
.konten{
	display: grid;
	grid-gap: 20px;
	grid-template-areas: 
	"hero hero box1"
	"hero hero box2";
}

.hero{
	grid-area: hero;
	min-height: 400px;
	background: url(gambar/hero.webp);
	background-size: cover;
	background-position: center;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.hero h1{
	font-size: 4rem;
	color: white;
	margin-bottom: 0;
}

.hero p{
	font-size: 1.3rem;
	color: white;
	margin-bottom: 0;
}
/* -- Konten --*/


/* -- Box --*/
.box-atas{
	display: grid;
	background-color: var(--kuningTelor);
	justify-items: center;
	align-items: center;
	box-shadow: var(--bayangan);
	padding: 1.5rem;
}
.pertama{
	grid-area: box1;
}
.kedua{
	grid-area: box2;
}
/* -- Box --*/


/* -- Layanan --*/
.layanan{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}

.box{
	background-color: var(--kuningTelor);
	text-align: center;
	padding: 1.5rem 2rem;
	box-shadow: var(--bayangan);
}
/* -- Layanan --*/

/* -- Info --*/
.info{
	display: grid;
	grid-gap: 30px;
	grid-template-columns: repeat(2,1fr);
	background-color: var(--kuningTelor);
	box-shadow: var(--bayangan);
	padding: 3rem;

}
/* -- Info --*/


/* -- Sosmed --*/
.sosmed{
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
}

.sosmed .box{
	background-color: var(--kuningTelor);
	text-align: center;
	padding: 1.5rem 2rem;
	box-shadow: var(--bayangan);
}
/* -- Sosmed --*/


/* -- Footer --*/
footer{
	background-color: var(--kuningTelor);
	color: var(--warnaGelap);
	text-align: center;
	margin-top: 2rem;
	padding: 1rem;
}
/* -- Footer --*/


/* -- Responsive Setting --*/

/* -- Tablet --*/
@media(max-width: 700px){
	.konten{
		grid-template-areas: 
		"hero hero"
		"box1 box2";
	}

	.hero h1{
		font-size: 2rem;
	}

	.navigasi ul{
		grid-template-columns: 1fr;
	}

	.info{
		grid-template-columns: 1fr;
	}

	.info .tombol{
		display: block;
		text-align: center;
		margin: auto;
	}
}

/* -- HP --*/
@media(max-width: 500px){
	.konten{
		grid-template-areas: 
		"hero "
		"box1 "
		"box2 ";
	}
}